
.calculator__wrapper{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 460px;
    background-color: rgb(189, 255, 205);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.calculator__display{
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: flex-end;
    padding-right: 10px;
    background-color: rgb(131, 245, 140);
    border: 3px solid rgb(255, 255, 255);
    margin-bottom: 20px;
    font-size: 25px;
    border-radius: 10px;
}

.calculator__buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2px;
    // height: 460px;
    // display: flex;
    // // width: 350px;
    // height: 460px;
    // flex-direction: column;
    // flex-wrap: wrap;
    // column-gap: 2px;
    // row-gap: 2px;
    // padding: 15px;
}
// .calculator__row{
//     display: flex;
//     flex-grow: 1;
//     column-gap: 2px;
// }
.calculator__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    min-width: 75px;
    font-size: 18px;
    background-color: rgb(223, 255, 150);
    border: 1px solid black;
    border-radius: 10px;
}
.calculator__btn--number{
    background-color: white;
}

.calculator__btn--equal{
    grid-column: span 2;
    background-color: rgb(201, 249, 255);
}